<!DOCTYPE html>
<html>
<head>
    <title>Flower smart pot</title>
    <script>
        function updateSensorData() {
            fetch('/api/sensors')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperature-display').innerHTML  = data.temperature_html;
                    document.getElementById('humidity-display').innerHTML  = data.humidity_html;
                    document.getElementById('light-display').innerHTML  = data.light_html;
                    document.getElementById('timestamp-display').innerText = data.timestamp;
                    document.getElementById('message-display').innerText = data.message;
                    if (data.alarm !== undefined) {
                        document.getElementById('alarm-display').innerText = data.alarm;
                    } else {
                        console.error('Alarm data is undefined');
                    }
                })
                .catch(error => {
                    console.error('Error fetching sensor data:', error);
                });
        }

        function toggleMessage() {
            var messageElement = document.getElementById('last-message-container');
            if (messageElement.style.display === 'none') {
                messageElement.style.display = 'block';
            } else {
                messageElement.style.display = 'none';
            }
        }

        /* function showHiddenText() {
        fetch('/show_hidden_text')
            .then(response => response.json())
            .then(data => {
                if (data.show) {
                    var hiddenTextElement = document.getElementById('hidden-text');
                    hiddenTextElement.style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Error fetching hidden text:', error);
            });
        } */

        function showHiddenText() {
            var hiddenTextElement = document.getElementById('hidden-text');
            hiddenTextElement.style.display = 'block';
        }

        /* function hideHiddenText() {
            fetch('/hide_hidden_text')
                .then(response => response.json())
                .then(data => {
                    if (data.hide) {
                        var hiddenTextElement = document.getElementById('hidden-text');
                        hiddenTextElement.style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('Error hiding text:', error);
                });
        } */

        function hideHiddenText() {
            var hiddenTextElement = document.getElementById('hidden-text');
            hiddenTextElement.style.display = 'none';
        }

        // Update the sensor data every 1 second
        setInterval(updateSensorData, 1000);

        // Optionally, update the data immediately when the page loads
        updateSensorData();
    </script>
</head>
<body>
    <h1>Flower smart pot</h1>

    <p><b>Temperature:</b> <span id="temperature-display">{{ temperature }}</span></p>
    <p><b>Humidity:</b> <span id="humidity-display">{{ humidity }}</span></p>
    <p><b>Light:</b> <span id="light-display">{{ light }}</span></p>
    <p><b>Timestamp:</b> <span id="timestamp-display">{{ timestamp }}</span> </p>
    <p><b>Alarm:</b> <span id="alarm-display">There is no alarm message</span> </p>
    <!-- <p><b>Alarm:</b> <span id="alarm-display">{{ alarmMessage }}</span> </p> -->
    
    <form method="post">
        <button type="submit" name="update_now">Update Now</button>
        <button type="submit" name="set_up_timer">Set Up Timer</button>
        <button type="submit" name="set_up_thresholds">Set Up Thresholds</button>
        <button type="submit" name="send_hello">Send Hello to STM</button>
    </form>

    <!-- {% if hidden_text %}
        <div id="hidden-text" style="display:block;">{{ hidden_text }}</div>
    {% endif %} -->


    <div id="last-message-container" style="display: none;">
        <p><b>Last message: </b> <span id="message-display">{{ message }}</span> </p>
    </div>

    <button onclick="toggleMessage()">Toggle Display of Last Message</button>

</body>
</html>